name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test (${{ matrix.platform.os }}, ${{ matrix.platform.target }}, ${{ matrix.rust }}, "${{ matrix.features }}")
    strategy:
      fail-fast: false
      matrix:
        rust: ["1.60", "stable", "nightly"]
        features: ["", "asm", "casting", "asm,casting"]
        platform:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.platform.target }}

      - name: Build
        run: cargo build --no-default-features --features "${{ matrix.features }}" --verbose

      - name: Run tests
        if: matrix.rust == 'nightly' && (matrix.features == 'asm,casting' || matrix.features == 'casting')
        run: cargo test --no-default-features --features "${{ matrix.features }}" --verbose
